<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<div align="center">
    <h1 >添加用户</h1>
    账号：<input type="text" v-model="user.username" placeholder="请输入用户名"><br>
    密码：<input style="margin-top: 5px" type="password" v-model="user.password" placeholder="请输入密码"><br>
    权限：<input style="margin-top: 5px" type="role" v-model="user.role" placeholder="0为管理员,1为普通用户"><br>
    <input style="margin-top: 10px" type="submit" value="添加" @click="add()">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el: "body>div",
        data: {
            user: {username: "", password: "",role: ""}
        },
        methods: {
            add() {
                axios.post("/add", v.user).then(function (response) {
                    if (response.data == 1) {
                        alert("用户添加成功！")
                        location.href = "/admin.html";
                    } else if (response.data == 2) {
                        alert("用户数据已存在!");
                    } else {
                        alert("用户名和密码不能为空!");
                    }
                })
            }
        }
    })
</script>


</body>
</html>